@inherits UmbracoViewPage<McLarenUmbraco.Models.EmailModel>

@using McLarenUmbraco.Controllers;

@using (Html.BeginUmbracoForm<EmailController>("SubmitForm"))
{
    <div class="row">
        @Html.LabelFor(model => model.Subject)
        @Html.TextBoxFor(model => model.Subject)
    </div>

    <div class="row">
        @Html.LabelFor(model => model.Message)
        @Html.TextAreaFor(model => model.Message)
    </div>

    <button type="submit">Send</button>
}
