@{
    Layout = "master.cshtml";
}

@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<h1>Send Email</h1>
<p>Fill out the following fields and press 'Send' to send us an email!</p>

<section class="section">
    <div class="container">
        <div class="row">
            @{Html.RenderAction("RenderForm", "Email");}
        </div>
    </div>
</section>