@{
    Layout = "master.cshtml";
}

@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<body>
    <section class="section">
        <div class="container" style="text-align:center;justify-content:center;">
            <h1>Contact Form</h1>
            <p>If you would like to contact us, please use this form. Click the 'Send' button in order for an email to be sent</p>
        @{Html.RenderAction("RenderForm", "Email");}
        </div>
    </section>
</body>