@{
    Layout = "master.cshtml";
}

@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<section class="section">
    <div class="container">
        <div class="row">
            @{Html.RenderAction("RenderForm", "Email");}
        </div>
    </div>
</section>